/* // Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {
  
}

/* // Средние девайсы («таблетки», >= 768px) */
@media (min-width:768px) {
  body{
    font-size: 20px;
  }
 .container{
   padding: 30px
 }
 .header__container{
  justify-content: left;
 }
 .header__inner{
   width: 50%;
 }
 .header__form{
   flex-direction: row;
   align-items: center;
 }
 .header__input{
   margin: 0;
   width: 50%;
   margin-right: 9px
 }
 .header__button{
   margin: 0;
   width: 50%;
   margin-left: 9px
 }
}

/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  
}

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  
}