
/* // Средние девайсы («таблетки», >= 768px) */
@media (min-width:768px) {
  body{
    font-size: 20px;
  }
 .header__title{
   font-size: 5.5rem;
 }
 .container{
   padding: 30px
 }
 .header__container{
  justify-content: left;
 }
 .header__inner{
   width: 50%;
 }
 .header__form{
   flex-direction: row;
   align-items: center;
 }
 .header__input{
   margin: 0;
   width: 50%;
   margin-right: 9px
 }
 .header__button{
   margin: 0;
   width: 50%;
   margin-left: 9px
 }
  .title{
    font-size: 2.7rem;
  }
  .subtitle{
    font-size: 2rem;
  }
  .main__inner,.aside__inner{
    width: 700px
  }
  .about__inner{
    flex-direction: row;
    align-items: stretch;
    min-height: 300px;
  }
  .about__img{
    background-color: #858585;
    min-height: 100%;
    width: 50%;
  }
  .about__info{
    height: 100%;
    width: 50%;
  }
  .section__container{
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .section__item{
    width: 47%;
    background-color: white 
  }
  .section__text{
    min-height: 100%
  }
}

/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  .footer__inner{
   flex-direction: column;
 }
  .container{
    width: 800px
  }
  .main__inner,.aside__inner{
    width: 700px
  }
}

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  .container{
    width: 1050px
  }
  .main__inner,.aside__inner{
    width: 900px
  }
  
}