/* // Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {
  
}

/* // Средние девайсы («таблетки», >= 768px) */
@media (min-width:768px) {
  body{
    font-size: 20px;
  }
 .header__title{
   font-size: 5.5rem;
 }
 .container{
   padding: 30px
 }
 .header__container{
  justify-content: left;
 }
 .header__inner{
   width: 50%;
 }
 .header__form{
   flex-direction: row;
   align-items: center;
 }
 .header__input{
   margin: 0;
   width: 50%;
   margin-right: 9px
 }
 .header__button{
   margin: 0;
   width: 50%;
   margin-left: 9px
 }
  .title{
    font-size: 2.7rem;
  }
  .subtitle{
    font-size: 2rem;
  }
  .main__inner,.aside__inner{
    width: 600px
  }
  .about__inner{
    flex-direction: row;
    align-items: flex-start;
    min-height: 100%;
  }
  .about__img{
    min-height: 100%;
    background-color: #858585;
    flex: 0 0 50%
  }
  .about__info{
    flex: 0 0 50%;
    height: 100%
  }
  .section__container{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .section__item{
    flex: 0 0 47%;
  }
  .footer__inner{
    flex-direction: row;
    text-align: left;
  }
}

/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
 .footer__inner{
   flex-direction: column;
 }
}

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  
}